@tailwind base;
@tailwind components;
@tailwind utilities;



/* Load Roobert TRIAL Light */
@font-face {
  font-family: 'Roobert TRIAL';
  src: url('/public/fonts/RoobertTRIAL-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roobert TRIAL Regular';
  src: url('/public/fonts/RoobertTRIAL-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}


/* Base body styles with fallback font */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Roobert TRIAL', sans-serif;
  font-weight: 400; /* Default normal weight */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Utility classes to explicitly apply weights */
.font-roobert-bold {
  font-family: 'Roobert TRIAL', sans-serif;
  font-weight: 700;
}

.font-roobert-light {
  font-family: 'Roobert TRIAL', sans-serif;
  font-weight: 300;
}

/* Style for [ INTRO ] */
.intro-label {
  color: #B0B0B0; /* light gray */
  font-size: 10px;
  font-weight: 300;
  font-family: 'Roobert TRIAL', sans-serif;
  letter-spacing: -0.03em;
  line-height: 48px;
}













